main
	form.testwork
		.form.testwork__item
			+lazyPicture({
				src: `${baseDir}images/avatar.jpg`,
				alt: 'Аватарка',
			}).form__avatar

			fieldset
				.form__item.form__item--text
					input(type="text" placeholder="Имя")
					label Имя
				.form__item.form__item--text
					input(type="text" placeholder="Дата рождения")
					label Дата рождения
				.form__item.form__item--text
					input(type="text" placeholder="Город")
					label Город
				.form__item.form__item--text
					input(type="text" placeholder="Контактные данные")
					label Контактные данные

		.skills.testwork__item.testwork__item--skills
			fieldset.form__items
				.form__item.form__item--checkbox
					input(type="checkbox")
					label html5
				.form__item.form__item--checkbox
					input(type="checkbox")
					label sass
				.form__item.form__item--checkbox
					input(type="checkbox")
					label vanillajs
				.form__item.form__item--checkbox
					input(type="checkbox")
					label git
				.form__item.form__item--checkbox
					input(type="checkbox")
					label css3
				.form__item.form__item--checkbox
					input(type="checkbox")
					label less
				.form__item.form__item--checkbox
					input(type="checkbox")
					label angular
				.form__item.form__item--checkbox
					input(type="checkbox")
					label foundation
				.form__item.form__item--checkbox
					input(type="checkbox")
					label бэм
				.form__item.form__item--checkbox
					input(type="checkbox")
					label gulp
				.form__item.form__item--checkbox
					input(type="checkbox")
					label jquery
				.form__item.form__item--checkbox
					input(type="checkbox")
					label bootstrap

		.level.testwork__item
			.level__meter-wrap
				.level__meter
					img.level__meter-pic(src="../images/meter.svg" alt="Шкала")
					img.level__meter-arrow(src="../images/meter-arrow.svg" alt="Стрелочка")
			.level__result
				| Мой уровень владения
				br
				| Java Script
				strong
					| 0